*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /*добавила плавный скролл*/
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, 'Arial', sans-serif; /* добавила альтернативный шрифт */
  background-color: #FFF; /*добавила фон */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
