.header {
  width: 1100px;/*наверное можно не задавать*/
  min-height: 293px;
  margin: 0;
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  
}

.header_menu {
  padding-right: 36.52px;
  font-size: 18px;
  font-weight: normal;
}

.header_links-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
}

.header_links-list-item {
  text-underline-position: under; /*чтобы линия не попадала на текст*/
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link {}  /* нужен ли этот селектор????*/

.header_link-active {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;

}

.header_logo-image {
  height: 100%;
}

.address {
  /*padding-left: 184px; */
  font-size: 18px;
  font-weight: normal;
  line-height: 24.3px;
  font-style: normal;
  max-width: 240px;
  justify-self: end;
}

.header_address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.address_list {
  list-style-type: none;
}

.address_link-accent {
  text-decoration: underline;
  text-underline-position: under; /*чтобы линия не попадала на текст*/
}

.cover{
  width: 1100px; /*наверное можно не задавать*/
  min-height: 757px;
  margin: 0;
 /* padding: 165px 50px 50px; */
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
  z-index: -1;
}

.cover_title {
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 165px 50px 106px;
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center; 
}

.aligned-text_right {
  text-align: right;
  padding-bottom: 0;
}

.no-letter-spacing {
  letter-spacing: 0;
}


.cover_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
  gap: 107px;
  
}

.cover_description-text {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18.5px;
  text-align: left;
  
}

.bet_button {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background-color: transparent;

}

.lots {
  margin: 0;
  padding: 180px 24px 120px;
  
}

.lots_heading {
  padding: 0 0 27px 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.lots_card-list {
  list-style-type: none;
  margin: 0; /* надо ли задавать марджин и пэддинг?*/
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
  z-index: -2;
  
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px; /*~120%*/
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px; /*чтобы линия опустилась как мне надо*/
  
  
  color: #fff;
  padding-bottom: 30px;
}

.card_text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;

}

.lots_look-more-link {
  font-weight: normal;
  font-size: 20px;
  color: #000;
  padding-left: 40px;
  padding-bottom: 2px;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  
}




.about {
  width: 1052px; /*наверное можно не задавать*/
  height: 595px;
  margin: 120px 24px 180px;
  padding: 35px 0 13px 47px;
  
}

.column {}

.footer {
  width: 1100px; /*наверное можно не задавать*/
  height: 180px;
  margin: 0;
  padding: 0 50px 82px;
  border: 2px solid red; /*убрать по завершению */
}

.footer_menu {}

.footer_menu-list {}

.footer_menu-item {}

.footer_menu-item-active {}

.social-list {}

.social-item {}